.button {
  border: none;
  padding: 0;
  margin: 0;

  &-accent {
    color: #ffffff;
    background-color: $color-blue;
    min-width: 180px;
    height: 54px;
  }

  &-load {
    padding-top: 42px;
    padding-bottom: 42px;
    width: 100%;
    background-color: $color-light-grey;
  }
}
