.button {
  border: none;
  padding: 0;
  margin: 0;

  &-accent {
    color: #ffffff;
    background-color: $color-blue;
    min-width: 180px;
    height: 54px;
    cursor: pointer;

    &:hover{
      background-color: #4ad9d1;
    }
  }

  &-load {
    min-width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-color: $color-light-grey;
    cursor: pointer;

    &:hover{
      background-color: #d1f5ed;
    }
  }

  &-circle {
    background-color: $color-blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
}
