.footer {
  position: relative;
  background-color: $color-black;

  &__content {
    color: $color-grey;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__address {
    margin-top: 20px;

    .footer__makers {
      color: #f6f6f6;
      font-family: $font-accent;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.18px;

    }

    .footer__copyright {
      line-height: 24px;
      letter-spacing: 0.07px;
      font-weight: 400;
      font-size: 15px;
      font-family: $font-default;
    }
  }

  &__contact {

    padding-bottom: 35px;

    .footer__email {
      color: $color-grey;
      font-family: $font-default;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.07px;
    }

    .footer__number {
      color: $color-grey;
      font-family: $font-default;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.07px;
    }
  }


  &__menu {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;


    .menu__list-left {
      list-style: none;

      .footer__link {
        color: $color-grey;
      }
    }

    .menu__list-right {
      list-style: none;

      .footer__link {
        color: $color-grey;
      }

    }
  }

  &__social {

    &__list {
      list-style: none;
    }

    .social__link {
      color: $color-grey;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.07px;
    }
  }
}
