.footer {
  position: relative;
  background-color: $color-black;

  &__content {
    padding-top: 100px;
    padding-bottom: 100px;

    .footer__address {


      .footer__makers {
        padding-bottom: 30px;
      }

      .footer__copyright {

      }
    }

  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .footer__email {

    }

    .footer__number {
      padding-right: 34px;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;

    .menu__list-left {

    }

    .menu__list-right {
      padding-left: 50px;
    }

  }

  &__social {
    padding-left: 130px;
  }
}










