.header {
  position: relative;

  &__content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-top: 5px;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;


  &__item {

  }

  &__link {
    font-size: 12px;
    font-family: $font-accent;
    font-weight: 500;
    line-height: (24/12);
    text-transform: uppercase;
  }
}