.main--home {
  padding: 0;

  .section--banner {
    width: 100%;
    height: 100vh;
    background-image: url("/public/img/light-art-building.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    .banner {
      &__title {

      }
    }
  }

}