* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-default;
  font-weight: normal;
  color: $color-black;
}

.title {
  color: $color-black;
  font-family: $font-accent;
  opacity: -1;
  font-size: 38px;
  font-weight: 500;
  line-height: 84px;
  letter-spacing: 0.38px;
}

.text {

  &-exlg {

  }

  &-lg {

  }

  &-md {
    opacity: -1;
    color: $color-grey;
    font-family: $font-default;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.08px;
    text-transform: uppercase;
  }

  &-sm {
    opacity: -1;
    color: $color-grey;
    font-family: $font-default;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
  }

}


.container {
  width: 1172px;
  margin: 0 auto;
}