* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: $color-black;
  font-size: 16px;
  font-family: $font-default;
  line-height: 1.5;
  font-weight: 500; // У тебя начертания дефолтного шрифта 500, ты ж его сам подключал))
}

.container {
  width: 1172px;
  margin: 0 auto;
}

.title {
  //color: $color-black;  зачем это писать, у body и так задан черный цвет???
  font-family: $font-accent;
  font-weight: bold;

  &-lg {
    font-size: 38px; // Вот это желательно держать в модификаторах, т.к. заголовком может быть больше чем один
    line-height: 84px;
    letter-spacing: 0.38px;
  }
}

.text {
  color: $color-grey;

  &-lg {

  }

  &-md {
    // font-family: $font-default;  зачем это писать, у body и так задан этот шрифт???
    //font-size: 16px; // md (medium) это желательно всегда базовый шрифт, т.е. как у <body>
    //line-height: 24px;
    // letter-spacing: 0.08px; TODO: где ты это свойство взял?
  }

  &-sm {

  }

  //&-md {
    // font-family: $font-default;  зачем это писать, у body и так задан этот шрифт???
    // font-weight: 400; зачем это писать, у body и так задано эта жирность??
    //font-size: 16px;
    //line-height: 30px; // TODO: напомни, когад будешь у меня обсудим этот момент.
    //letter-spacing: 0.08px;
    //text-transform: uppercase;
  //}
}