<%= require('html-loader!./includes/header.html') %>

<main class="main main--home">
    <section class="section section--hero">
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-6">
                        <div class="hero">
                            <div class="hero__title">
                                <h1 class="title title-xl">We Design and Develop</h1>
                            </div>
                            <div class="hero__description">
                                <p class="text text-lg">
                                    We are a new design studio based in USA. We have over<br>
                                    20 years of combined experience, and know a thing or two<br>
                                    about designing websites and mobile apps.<br>
                                </p>
                            </div>
                            <div class="hero__action">
                                <button class="button button-accent" type="button">
                            <span class="title title-xs-white">
                                contact us
                            </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__background" style="background-image: url('/public/img/home/hero-banner.jpg')"></div>
    </section>

    <section class="section section--about">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="about">
                        <div class="about__title">
                            <h3 class="title title-lg">
                                About Us
                            </h3>
                        </div>
                        <div class="about__description">
                            <p class="text text-md">
                                Divide have don't man wherein air fourth.
                                Own itself make have night won't make.<br class="d-none d-lg-block">
                                A you under Seed appear which good give.
                                Own give air without fowl moveth dry first<br class="d-none d-lg-block">
                                heaven fruit, dominion she'd won't very all.<br class="d-none d-lg-block">
                            </p>
                        </div>
                        <div class="about__signature">
                            <img class="signature__img" src="/public/img/signat.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--skills">
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <div class="skills">
                            <div class="skills__title">
                                <h3 class="title title-lg">
                                    Professional Skills
                                </h3>
                            </div>
                            <ul class="skills__list">
                                <li class="skills__item">
                                    <div class="skills__item-label">
                                        <h5 class="title title-sm">
                                            UI/UX Design 75%
                                        </h5>
                                    </div>
                                    <div class="skills_item-progress progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                                    </div>
                                </li>
                                <li class="skills__item">
                                    <div class="skills__item-label">
                                        <h5 class="title title-sm">
                                            web development 90%
                                        </h5>
                                    </div>
                                    <div class="skills_item-progress progress">
                                        <div class="progress-bar" role="progressbar" style="width: 90%"></div>
                                    </div>
                                </li>
                                <li class="skills__item">
                                    <div class="skills__item-label">
                                        <h5 class="title title-sm">
                                            marketing 65%
                                        </h5>
                                    </div>
                                    <div class="skills_item-progress progress">
                                        <div class="progress-bar" role="progressbar" style="width: 65%"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__background section__background--half section__background--right d-none d-lg-block"
             style="background-image: url('/public/img/pikrepo.com.jpg')"></div>
    </section>
    <section class="section section--advantage">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="advantage__item">
                        <div class="advantage__item-logo">
                            <img class="advantage-logo" src="/public/img/pe-7s-portfolio.png" alt="project completed">
                        </div>
                        <div class="advantage__item-label">
                            <h5 class="title title-sm-white">
                                548
                            </h5>
                            <p class="title title-xs-white">
                                projects completed
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="advantage__item">
                        <div class="advantage__item-logo">
                            <img class="advantage-logo" src="/public/img/pe-7s-clock.png" alt="WORKING HOURS">
                        </div>
                        <div class="advantage__item-label">
                            <h5 class="title title-sm-white">
                                1465
                            </h5>
                            <p class="title title-xs-white">
                                WORKING HOURS
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="advantage__item">
                        <div class="advantage__item-logo">
                            <img class="advantage-logo" src="/public/img/pe-7s-star.png" alt="POSITIVE FEEDBACKS">
                        </div>
                        <div class="advantage__item-label">
                            <h5 class="title title-sm-white">
                                612
                            </h5>
                            <p class="title title-xs-white">
                                POSITIVE FEEDBACKS
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="advantage__item">
                        <div class="advantage__item-logo">
                            <img class="advantage-logo" src="/public/img/pe-7s-star.png" alt="HAPPY CLIENTS">
                        </div>
                        <div class="advantage__item-label">
                            <h5 class="title title-sm-white">
                                735
                            </h5>
                            <p class="title title-xs-white">
                                HAPPY CLIENTS
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--works">
        <div class="works">
            <div class="works__item">
                <img class="works__photo" src="/public/img/home/home-works-1.jpg" alt="">
                <div class="works__title">
                    <a class="works__link none-style" href="#" title="works link">
                        <h3 class="title title-sm-white">
                            Preview
                        </h3>
                    </a>
                </div>
            </div>
            <div class="works__item">
                <img class="works__photo" src="/public/img/home/home-works-2.jpg" alt="">
                <div class="works__title">
                    <a class="works__link none-style" href="#" title="works link">
                        <h3 class="title title-sm-white">
                            Preview
                        </h3>
                    </a>
                </div>
            </div>
            <div class="works__item">
                <img class="works__photo" src="/public/img/home/home-works-3.jpg" alt="">
                <div class="works__title">
                    <a class="works__link none-style" href="#" title="works link">
                        <h3 class="title title-sm-white">
                            Preview
                        </h3>
                    </a>
                </div>
            </div>
            <div class="works__item">
                <img class="works__photo" src="/public/img/home/home-works-4.jpg" alt="">
                <div class="works__title">
                    <a class="works__link none-style" href="#" title="works link">
                        <h3 class="title title-sm-white">
                            Preview
                        </h3>
                    </a>
                </div>
            </div>
            <div class="works__item">
                <img class="works__photo" src="/public/img/home/home-works-5.jpg" alt="">
                <div class="works__title">
                    <a class="works__link none-style" href="#" title="works link">
                        <h3 class="title title-sm-white">
                            Preview
                        </h3>
                    </a>
                </div>
            </div>
            <div class="works__item">
                <img class="works__photo" src="/public/img/home/home-works-6.jpg" alt="">
                <div class="works__title">
                    <a class="works__link none-style" href="#" title="works link">
                        <h3 class="title title-sm-white">
                            Preview
                        </h3>
                    </a>
                </div>
            </div>
            <div class="works__item">
                <img class="works__photo" src="/public/img/home/home-works-7.jpg" alt="">
                <div class="works__title">
                    <a class="works__link none-style" href="#" title="works link">
                        <h3 class="title title-sm-white">
                            Preview
                        </h3>
                    </a>
                </div>
            </div>
            <div class="works__item">
                <img class="works__photo" src="/public/img/home/home-works-8.jpg" alt="">
                <div class="works__title">
                    <a class="works__link none-style" href="#" title="works link">
                        <h3 class="title title-sm-white">
                            Preview
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="works__action">
            <button class="button button-load" type="button">
                            <span class="title title-xs-grey">
                                load more work
                            </span>
            </button>
        </div>
        <div class="container">
        </div>
    </section>
</main>

<%= require('html-loader!./includes/footer.html') %>
