<%= require('html-loader!./includes/header.html') %>

<main class="main main--home">
    <section class="section section--banner">
        <div class="container">
            <div class="banner">
                <div class="banner__title">
                    <h1 class="title title-hg">We Design and Develop</h1>
                </div>
                <div class="banner__description">
                    <p class="text text-lg">
                        We are a new design studio based in USA. We have over<br>
                        20 years of combined experience, and know a thing or two<br>
                        about designing websites and mobile apps.<br>
                    </p>
                </div>
                <div class="banner__action">
                    <button class="button button-accent">
                            <span class="title title__lt">
                                contact us
                            </span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--about">
        <div class="container">
            <div class="about">
                <div class="about__title">
                    <h3 class="title title__lg">
                        About Us
                    </h3>
                </div>
                <div class="about__description">
                    <p class="text text-md">
                        Divide have don't man wherein air fourth.
                        Own itself make have night won't make.<br>
                        A you under Seed appear which good give.
                        Own give air without fowl moveth dry first<br>
                        heaven fruit, dominion she'd won't very all.<br>
                    </p>
                </div>
                <div class="about__signature">
                    <img class="signature__img" src="/public/img/signat.png" alt="logo"/>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--skills">
        <div class="container">
            <div class="skills">

            </div>
        </div>
    </section>
</main>

<%= require('html-loader!./includes/footer.html') %>
